name: lint

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v2

      - name: Lint sources
        uses: arma-actions/sqflint@v1.0
        with:
          args: --exit e --directory FORM_Tembelan.Tembelan

      - name: Make mission pbo
        uses: team-gsri/actions-make-pbo@master
        with:
          mission: FORM_Tembelan.Tembelan
